@charset "UTF-8";

body {
	background-image: url(images/1234.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	/* fixed 只適合body,textarea元素 */
	/* overflow:hidden;*/
}

.st1 {
	width: 450px;
	border-bottom: 3px dashed #adadad;
	margin: 20px;
	padding-bottom: 20px;
}

.t1 {
	width: 100px;
	float: left;
	/* border: 1px solid red; */
	text-align: right;
}

fieldset {
	width: 700px;
	border: 1px solid #acd6ff;
	border-radius: 15px;
	opacity: 0.85;
	margin: auto;
	background: rgb(231, 240, 184);
}

H1 {
	color: blue;
}

ul {
	list-style-type: none;
}

.sub {
	width: 450px;
	margin: 20px;
	text-align: center;
	margin: auto;
}

video {
	position: fixed;
	right: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	/*加濾鏡*/
	/*filter: blur(15px); //背景模糊設定 */
	/*-webkit-filter: grayscale(100%);*/
	/*filter:grayscale(100%); //背景灰度設定*/
	z-index: -11
}

source {
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 300px;
	/*border: 3px solid red;*/
	padding: 5px 5px 5px 5px;
	margin: 10px;
}